.centerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  h1 {
    margin-top: 20vh;
    margin-bottom: 30vh;
    font-size: 80pt;
  }
}

.blackText {
  color: black;
}

.heroText {
  color: #10ab1f;
}
