.divRoot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        text-align: center;
        color: white;
        font-size: 60px;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}