.q1, .q2, .q3, .q4, .q5 {
    width: 100%;
    font-size: 32px;
    padding: 30px 0 30px 0;
}

.align {
    width: 100%;
    display: flex;
    align-items: center;

    * {
        margin: auto;
    }
}

.q1 {
    margin-left: 5vw;
}

.q2 {
    margin-left: 50vw;
    color: #DDDADA;
}

.q3 {
    margin-left: 10vw;
    color: #F1C5C5;
}

.q4 {
    margin-left: 35vw;
    color: #ABABAB;
}

.q5 {
    text-align: center;
    margin-left: 1vw;
    color: #8A6767;
}